.cartContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 15px;
    max-width: fit-content;
    min-width: 250px;

    a {
        text-decoration: none;
        margin-top: 15px;
    }

    .cartListContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 700px;
        min-width: 400px;

        .cartTitle {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cartDetail {
            display: flex;
            border: 2px solid red;
            margin: 15px 0;
            .cartDetailImage>img {
                width: calc(100px + 10vw)
            }

            .cartDetailInfo {
                display: flex;
            }
        }
    }

    .cartPaymentButtons {
        display: flex;
        gap: 5px;
        margin-top: 5px;
    }
}