.spinnerBackground{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.215);
    .spinnerContainer{
        margin-top: -100px;
    }
}
.spinnerContainer {
    display: flex;
    justify-content: center;
    margin: 25px;
    .loadingSpinner {
        width: 50px;
        height: 50px;
        border: 8px solid rgb(255, 0, 153);
        border-radius: 50%;
        border-left-color: rgba(128, 128, 128, 0.127);
        border-bottom-color: rgba(128, 128, 128, 0.127);
        animation: spin 1s infinite;
    }
}

@keyframes spin {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}