.cartContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .cartListContainer {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 700px;
        min-width: 400px;
        .cartTitle{
            display: flex;
            flex-direction: column;
            align-items: center;
            a{
                text-decoration: none;
                font-style: italic;
                font-size: 1.2em;
                color: rgb(62, 62, 62);
                &:hover{
                    color: black;
                }
            }
        }
        .cartDetail {
            display: flex;
            border: 2px solid red;
            .cartDetailImage>img {
                width: calc(100px + 10vw)
            }
            .cartDetailInfo {
                display: flex;
            }
        }
    }
}