.glider-contain {
    .glider-prev {
        translate: 15px 30px;
        color: #666;
        &:hover{
            color: #3c3c3c;
        }
    }
    .glider-next{
        translate: -15px 30px;
        color: #666;
        &:hover{
            color: #3c3c3c;
        }
    }
}

.myCourseDetail {
    padding-top: 12px;
    gap: 10px;
    margin: 0 5px;
    width: 100%;

    img {
        width: 100%;
    }

    h3 {
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 12px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}