@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

// font-family: 'Montserrat', sans-serif;
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#root {
    height: 2000px;
    background-color: rgb(240, 240, 240);
    background-image: url("../../public/images/bggif.gif");
    background-blend-mode: soft-light;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    margin: 0 20px;
    margin-top: 50px;
}

.gridContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    margin-top: 50px;
}

.coursesListContainer,
.logInForm,
.signUpForm {
    margin: 0 5%;
}

.inputPasswordContainer {
    width: calc(100% - 20px);
    position: relative;

    .inputPasswordToggable {
        width: 100%;
    }

    .bi-eye,
    .bi-eye-slash {
        font-size: 1.2em;
        cursor: pointer;
        position: absolute;
        right: -12px;
        top: 3px;

    }
}

.emptySection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    h2 {
        padding-bottom: 12px;
        width: 100%;
        border-bottom: 1px solid gray;
    }

    a {
        text-decoration: none;
        width: 100%;
        margin-top: 15px;

        button {
            width: 100%;
        }
    }
}

.normalPriceWithOffer {
    font-style: italic;
    text-decoration: line-through;
    color: gray;
    font-size: 1.15em;
}
.normalPrice{
    font-size: 1.3em;
}

.greenButton,
.redButton,
.pinkButton,
.purpleButton,
.skyblueButton,
.blueButton,
.orangeButton {
    cursor: pointer;
    padding: 7px 12px;
    border: 0;
    font-size: 1em;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleh2 {
    text-align: center;
    padding-bottom: 12px;
    border-bottom: 1px solid gray;
    width: 100%;
}

.greenButton {
    background-color: rgb(155, 255, 124);

    &:hover {
        background-color: rgb(114, 255, 71);
    }
}

.pinkButton {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 154, 215);

    &:hover {
        background-color: rgb(255, 121, 201);
    }
}

.redButton {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 48, 48);

    &:hover {
        background-color: rgb(255, 0, 0);
    }
}

.purpleButton {
    color: rgb(255, 255, 255);
    background-color: rgb(228, 21, 255);

    &:hover {
        background-color: rgb(205, 0, 232);
    }
}

.skyblueButton {
    color: rgb(255, 255, 255);
    background-color: rgb(74, 192, 255);

    &:hover {
        background-color: rgb(102, 202, 255);
    }
}

.blueButton {
    color: rgb(255, 255, 255);
    background-color: #276fff;

    &:hover {
        background-color: rgb(68, 130, 255);
    }
}

.orangeButton {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 152, 49);

    &:hover {
        background-color: rgb(255, 167, 80);
    }
}