@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');
// font-family: 'Montserrat', sans-serif;
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
#root{
    height: 2000px;
    background-color: rgb(240, 240, 240);
}
.coursesListContainer,
.logInForm,
.signUpForm {
    margin: 0 5%;
}

.logInForm,
.signUpForm {
    display: flex;
    align-items: center;
    flex-direction: column;

    form {
        margin: auto;
        max-width: 500px;

        label {
            margin-bottom: 3px;
            margin-left: 8px;
        }

        input {
            font-size: 1em;
            border-radius: 8px;
            border: 1px solid gray;
            padding: 5px 10px;
            margin-bottom: 10px;

            &:focus {
                border: 1px solid black;
            }
        }

        input[type='password'] {
            font-weight: bold;
            letter-spacing: 1px;
        }
    }
}

.seeMyCoursesButton,
.addToCartButton,
.deleteFromCartButton,
.watchCourseButton{
    cursor: pointer;
    padding: 7px 12px;
    border: 0;
}
.seeMyCoursesButton{
    background-color: rgb(255, 134, 134);
    &:hover{
        background-color: rgb(255, 163, 163);
    }
}
.addToCartButton{
    background-color: rgb(157, 255, 127);
    &:hover{
        background-color: rgb(188, 255, 168);
    }
}
.deleteFromCartButton{
    color: white;
    background-color: rgb(255, 0, 0);
    &:hover{
        background-color: rgb(255, 71, 71);
    }
}
.watchCourseButton{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 152, 229);
    &:hover{
        background-color: rgb(255, 124, 222);
    }
}