nav {
    background-color: rgb(255, 154, 215);
    
    
    padding: 10px;

    a {
        text-decoration: none;
    }

    .navbarNavigation {
        display: flex;
        justify-content: center;

        ul {

            display: flex;
            list-style: none;

            a {
                
                color: black;
                font-weight: 400;
                li {
                    margin: 0 10px;
                }
            }
        }
    }

    .navbarButtons {
        top: 0;
        right: 5px;
        translate: 0 25%;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        gap: 5px;

        
    }


    .buttonLogInAndSignUp {
        font-size: 0.8em;
        padding: 5px 12px;
        translate: 0 -5%;
    }
}